
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_CstLayout.cshtml";
}

<h2>Add User </h2>
<table>
    <tr><td>UserName</td><td><input type="text" /></td></tr>
    <tr><td>UserAge</td><td><input type="text" /></td></tr>
    <tr><td>UserMobile</td><td><input type="text" /></td></tr>
    <tr><td>UserEmail</td><td><input type="text" /></td></tr>
    <tr><td></td><button type="button">Add User</button></tr>

</table>
