
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Service</h2>
<hr />
<h1>Welcome to Cst College</h1>
<table>
    <tr>
        <td>UserID</td>
        <td>UserName</td>
        <td>UserPassword</td>
        <td>UserEmail</td>
        <td>UserMobile</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Tom</td>
        <td>123.com</td>
        <td>Tom@gmail.com</td>
        <td>4168337666</td>
    </tr>


</table>


